/**/

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #CFD8DC;
    -webkit-font-smoothing: subpixel-antialiased;
}

#wrapper {
    margin: 0 auto;
    width: 60%;
}

#top-part {
    height: 90px;
    margin-top: 10px;
    text-align: right;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    background: #ffffff;
    border-bottom: 2px solid #90A4AE;
    border-radius: 3px;
    width: 100%;
}
#titlu {
    font-size: 20px;
    font-family: Arial;
    color: black;
    text-transform: uppercase;
    line-height: 5;
}
.clear {
    clear: both;
}
#login {
    font-size: 15px;
    font-family: Arial;
    color: black;
}
.nounderline {
    text-decoration: none;
    color: inherit;
}

.nounderline:hover {
    text-decoration: none;
    color: black;
}
.leftSide {
    float: left;
    width: 20%;
}
.centerSide {
    text-align: center;
    float: left;
    width: 60%;
}

.rightSide {
    float: left;
    width: 20%;
    line-height: 6.5;
    padding-right: 10px;
    box-sizing: border-box;
    color: black;
}

#center-part {
    box-sizing: border-box;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    background: #ffffff;
    border-bottom: 2px solid #90A4AE;
    border-radius: 3px;
}
.box {
    padding-top: 20px;
    width: 100%;
    background: white;
    box-sizing: border-box;
}
.anunturi {
    background-color:  #c0cdff;
    width: 90%;
    border: 1px dotted #fff;
    /*max-width: 1020px;*/
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 0 3px 6px #f3f3f3, 0 3px 6px #f3f3f3;
    border-top: 1px solid #f3f3f3;
}

.c1 {
	height:auto;
	width:auto;
    margin-top: 0px;
    margin-left: 160px;
    font-size: 9px;
    font-family: "Arial Black", Gadget, sans-serif;
    color: #fff;
    line-height: 3;
}
#puppy {
	height:auto;
	width:auto;
    margin-top: -194px;
    margin-left: 150px;
    font-size: 12px;
    font-family: "Arial Black", Gadget, sans-serif;
    text-align: center;
    border-bottom: 1px dotted #fff;
    color: #fff;
    padding: 6px 15px;
    line-height: 2;
}
#images{
	height:190px;
	width:150px;
	margin-top:10px;
	margin-left: 5px;
	border-radius:3px;
}



footer{
    display: inline;
    text-align: center;
    width: 100%;
    display: inline-block;
    clear: both;
    padding: 20px;
    box-sizing: border-box;
    margin: 20px 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    background: #ffffff;
    border-bottom: 2px solid #90A4AE;
    border-radius: 3px;
}


@media (max-width: 1750px) {
    #titlu {
        font-size: 14px;
        line-height: 2;
    }
    .leftSide img {
        border-radius: 2px !important;
        float: left !important;
        width: 70px !important;
        height: 60px !important;
    }
    .rightSide {
        line-height: 2;
    }
    #top-part {
        height: 60px;
    }
   

}

@media (max-width: 1200px) {
    .centerSide {
        width: 50%;
    }
    .rightSide {
        width: 30%;
        line-height: 2;
    }
   
}
