* {
	padding:0;
	margin:0;
}

body {
	 background-color: #CFD8DC;
	-webkit-font-smoothing: subpixel-antialiased;
}

.section {
	background: #ffffff;
	height:350px;
	margin:auto;
	margin-top:110px;	
	width:50%;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
	border-bottom: 2px solid #90A4AE;
	border-radius:3px;	
}

h3 {
	position:relative;
	top:30px;
	left:40px;
	font-size:30px;
	font-family: Arial;
	color:#CFD8DC;
	text-shadow: 1px 1px 1px black; 
}

.image {	
	top: 200px;
	left:380px;
	position: absolute;
	border-radius:2px;
	border: solid 1px #CCC;
	-moz-box-shadow: 5px 5px 0px #999;
    -webkit-box-shadow: 5px 5px 0px #999;
    box-shadow: 5px 5px 0px #999;
	height:180px;
	width:12%;
}

img.image:hover {
    border: solid 1px #CCC;
    -moz-box-shadow: 1px 1px 5px #999;
    -webkit-box-shadow: 1px 1px 5px #999;
    box-shadow: 1px 1px 5px #999;
}

#chooseFile {
	position: absolute;
	left:380px;
	overflow: hidden;
	top:400px;
	font-size:12px;
	font-family: Arial;
	max-width: 12%;
}

#chooseFile, #subm, #back {
    cursor:pointer;  /* "hand" cursor */
}

/* navigate on the website using a keyboard*/
/*.render:focus{
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px; 
} */

#subm {
	position: absolute;
	left:550px;
	top:401px;
	font-size:12px;
	font-family: Arial;
}

#back{
	position: absolute;
	font-size:12px;
	font-family: Arial;
	display: inline-block;
	top:400px;
	right:380px;
}

.myInfo {
	position: relative;
	top:100px;
	left:230px ;
	font-size:19px;
	font-family: Arial;
	color:#CFD8DC;
	text-shadow: 1px 1px 1px black; 
	width: 50%;
}









